<h1>Aufgabe 1</h1>
<p>Die IT II GmbH soll eine Lösung entwickeln, um die manuelle Inventur in einem Automobilzulieferer zu optimieren.<br>
Derzeit ist der Prozess zeitaufwändig und kostspielig, während eine präzise Inventur für die Bilanzierung entscheidend ist.<br>
Die Lösung besteht in der Entwicklung einer benutzerfreundlichen Weboberfläche, die Echtzeitdaten sowie historische Trends der Sensordaten im Lager anzeigt.</p>
<hr>

<!-- Ab hier könnt ihr gerne euren Code einfügen, viel Spaß! -->

<br>
<p>Your code goes here...</p>