<h1>Overview</h1>
<section>
    <mat-card routerLink="/history">
        <mat-card-content>
            <h2>History</h2>
        </mat-card-content>
    </mat-card>    
    <mat-card routerLink="/predictive">
        <mat-card-content>
            <h2>Predictive Data</h2>
        </mat-card-content>
    </mat-card>    
    <mat-card routerLink="/realtime">
        <mat-card-content>
            <h2>Realtime Data</h2>
        </mat-card-content>
    </mat-card>    

</section>
<section>
    <mat-card routerLink="/example">
        <mat-card-content>
            <h2>Example</h2>
        </mat-card-content>
    </mat-card>
</section>
