<h1>Aufgabe 3</h1>
<p>Das Unternehmen soll eine Lösung konzipieren, um sicherzustellen, dass die Ware, die noch nicht verladen wurde, den Qualitätsstandards entspricht.<br>
Dies erfordert eine kontinuierliche Überwachung der relevanten Parameter.<br>
Die technische Umsetzung beinhaltet die Entwicklung einer Weboberfläche zur Echtzeitüberwachung und Trendanalyse der Sensordaten in der Logistik.</p>
<hr>

<h1> Sensordaten - FAUTOSmart </h1>
<div class="charts-container">
  <div id="temperatureContainer" class="chart-container" (click)="showDetails('temperature')">
    <canvas id="temperatureChart"></canvas>
    <div *ngIf="alerts['temperature']" class="alert">
      <i class="material-icons">warning</i>
    </div>
  </div>
  <div id="batteryContainer" class="chart-container" (click)="showDetails('battery')">
    <canvas id="batteryChart"></canvas>
    <div *ngIf="alerts['battery']" class="alert">
      <i class="material-icons">warning</i>
    </div>
  </div>
  <div id="humidityContainer" class="chart-container" (click)="showDetails('humidity')">
    <canvas id="humidityChart"></canvas>
    <div *ngIf="alerts['humidity']" class="alert">
      <i class="material-icons">warning</i>
    </div>
  </div>
  <div id="trendContainer" class="chart-container" (click)="showDetails('trend')">
    <canvas id="trendChart"></canvas>
    <div *ngIf="alerts['trend']" class="alert">
      <i class="material-icons">warning</i>
    </div>
  </div>
</div>