<h1>Aufgabe 5</h1>
<p>Die IT II GmbH soll eine Lösung entwerfen, um die Anlagenkontrolle zu optimieren und Ausfälle zu vermeiden.<br>
Im Falle von mehr als zwei gleichzeitigen Warnungen müssen bestimmte Prozesse automatisch ausgeführt werden.<br>
Die technische Umsetzung umfasst die Entwicklung einer Weboberfläche zur Echtzeitüberwachung der Anlage sowie zur automatisierten Auslösung von Prozessen bei Bedarf.</p>
<hr>

<!-- Ab hier könnt ihr gerne euren Code einfügen, viel Spaß! -->

<br>
<p>Your code goes here...</p>